.profileContainer {
    display: flex;
    justify-content: space-between;
}

.profileAvatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
    margin-bottom: 46px;
    margin-left: 40px;
}

.userInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 203px;
    height: 244px;
    background-color: #F7F7F7;
    margin-top: 45px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    padding-left: 26px;
    padding-top: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333333;
}

.text {
    text-transform: none;
    font-weight: normal;
}

.button {
    align-self: center;
    padding: 0;
    width: 126px;
    height: 24px;
    border: 1px solid #6B92F6;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    background-color: inherit;
    cursor: pointer;
}

.deleteButton {
    background-color: #954CF6;
    border: none;
    color: #ffffff;
}

.profileStatus {
    align-self: center;
}