.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    padding: 20px;
}

.messages {
    margin-left: 20px;
}

.input {
  box-sizing: border-box;
  width: 280px;
  height: 36px;
  border: 1px solid #eceef4;
  border-radius: 7px;
  padding: 5px;
  margin-bottom: 10px;
}
.form {
    display: flex;
    flex-direction: column;
}

.button {
  align-self: flex-start;
  padding: 0;
  width: 126px;
  height: 24px;
  background-color: #954cf6;
  border: none;
  color: #ffffff;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}